<div class="component-padding mt-12 xl:mb-4">
  <p class="max-w-prose text-lg xl:text-xl 2xl:text-2xl">
    I'm <span class="font-mono">Kyle</span>, a Software Engineer based in London. Since 2019 I've
    been working with clients like Tom Dixon, White Cube and Belstaff across agencies and freelance.
    I specialise in JavaScript, Go and Node.js.<br
    /><br />
    Currently, I work at
    <a
      href="https://www.kittoffices.com/"
      class="link font-mono decoration-from-font underline-offset-[0.25rem]"
      target="_blank"
      rel="noopener noreferrer"
    >
      Kitt</a
    >, a London-based managed workspace partner, building the internal tools used by their team and
    the in-office products used by their clients.<br /><br />
    Alongside development, I'm involved in shaping features through planning and technical
    design, and I support team growth through code reviews and mentoring.
  </p>
</div>
