.headerContainer {
	padding: 2em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.siteTitle > h1 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 28px;
	margin: 0;
	letter-spacing: 0.065em;
}

.siteTitle > h1 > a {
	color: white;
	text-decoration: none !important;
	transition: color 0.25s ease-in-out;
}

.siteTitle > h1 > a:hover {
	color: #f5762c;
}

.navBtnIcon {
	background: white;
	height: 1.25em;
	width: 1.25em;
	border-radius: 100%;
	transition: background-color 0.25s ease-in-out;
	margin: 0 auto 0.25em;
}

.navBtn:hover .navBtnIcon {
	background: #f5762c;
}

.navBtn:hover {
	color: #f5762c;
}

.navBtn {
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.25s ease-in-out;
	background: none;
	border: none;
}

.navBtn > p {
	color: white;
	letter-spacing: 0.08em;
	transition: color 0.25s ease-in-out;
}

.navBtn:hover > p {
	color: #f5762c;
}
