.homeBanner {
    padding: 1em 2em;
}

.homeBanner > .role {
    font-size: 100px;
    letter-spacing: 0.02em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

.homeBanner > h3 {
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 1.25em;
    margin-top: 0;
}

.homeBanner > h3 > span {
    font-size: 18px;
}

@media only screen and (max-width: 550px) {
    .homeBanner > .role {
        font-size: 50px;
    }

    .homeBanner > h3 {
        font-size: 28px;
    }
}